* {
    max-width: 900px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
  }

header.page-header {
    background-color: #525252;
    height: 200px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
    text-align: center;
}

#name {
    font-weight: bold;
}

.whole-page {
    background-color: #e7e5e5;
    padding: 10px;
    padding-bottom: 25px;
}

#image-header {
    position: relative;
    left: 9px;
    top: 9px;
    border: solid 1px white;
    width: 250px;
    height: 180px;
    float: left;
}

.main-information {
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
}

.link-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

#github-logo, 
#linkedin-logo {
    height: 30px;
    width: 30px;
}

#github-logo:hover,
#linkedin-logo:hover{
    color: #ccc;
    transform: scale(1.2);
}

#personal-website-link {
    color: rgb(221, 191, 152);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
}

.main-element {
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 14px;
    padding-bottom: 5px;
    letter-spacing: 2.5px;
}

.school {
    display: flex;
    flex-direction: row;
    margin-left: -31px;
}

.element-dates {
    font-size: 12px;
    color: grey;
}

ul, p {
    font-size: 15px;
    margin-top: .5%;
}

.paragraph-format {
    padding-left: 11.5px;
}

.classes-taken {
    margin-left: 10px;
}

.technical-elements {
    display: inline-block;
    font-size: 12px;
    position: relative;
    left: 10%;
    color: rgb(129, 6, 6);
}

.employee-inline-information {
    display: flex;
    flex-direction: row;
}

.horizontal-line {
    border: 2px solid white;
    border-radius: 4px;
    margin-top: 10px;
}

.employer {
    text-decoration: underline;
    font-size: 16px;
}

.employer{
    margin-left: 10px;
    padding-right: 22%;
}

#job-title {
    font-style: italic;
    margin-left: 9px;
    padding-right: 15.1%;
}

.job-dates {
    font-size: 12px;
    color: grey;
}
.ecumen-description {
    margin-top: 1.2%;
    text-align: center;
}