@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Oswald|Raleway');
@import url('https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Oswald|Raleway');

* {
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

.keyword {
    font-size: 25px;
}

hr {
    height: 3px;
    border-radius: 45%;
    background-color: gray;
    width: 80%;
}

.side-style {
    background-color: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: white;
}

.page-layout {
    max-width: 1300px;
    margin: 0 auto;
    background-color: whitesmoke;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline-block;
}

.margin-left {
    margin-left: 68px;
}

.css-percent {
    width: 20%;
}

.padding-nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logoImage {
    margin-left: 50px;
    width: 45px;
    height: 45px;
}

.logoImage:hover {
    transform: scale(1.1);
}

.left-side-bar {
    margin-top: 175px;
    position: fixed;
}

@media screen and (max-width: 1550px) {
    .left-side-bar {
        margin-top: 30px;
        position: fixed;
    }
}

.social {
    height: 25px;
    width: 25px;
}

.objective-arrow {
    height: 30px;
    width: 50px;
    margin: 10px 0px 10px 10px;
}

.objective-title {
    padding-top: 10px;
}

.left-column {
    width: 50%;
    float: left;
}

.right-column {
    width: 50%;
    float: right;
}

.progress {
    width: 80%;
}

.skill-title {
    font-weight: bold;
}

.java-progress {
    width: 60%;
    background-color: green;
}

.database-progress {
    width: 40%;
    background-color: orange;
}

.spring-progress {
    width: 40%;
    background-color: orange;
}

.test-driven-progress {
    width: 80%;
    background-color: green;
}

.python-progress {
    width: 60%;
    background-color: green;
}

.html-progress {
    width: 80%;
    background-color: green;
}

.git-progress {
    width: 75%;
    background-color: green;
}

.analysis-progress {
    width: 80%;
    background-color: green;
}

.package-management-progress {
    width: 75%;
    background-color: green;
}

.algorithm-progress {
    width: 80%;
    background-color: green;
}

.solving-progress {
    width: 75%;
    background-color: green;
}

.percentages {
    margin-left: 10px;
}

.eduction-check {
    height: 18px;
    width: 18px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.education-title {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.college-dates {
    margin-right: 125px;
    float: right;
    color: grey;
}

.social:hover {
    transform: scale(1.2);
}

.objective-arrow:hover, .eduction-check:hover {
    transform: scale(1.1);
}

.main-container-styling {
    margin-left: 12px;
}

.left-column {
    list-style: none;
}

.range-style {
    width: 25px;
    height: 25px;
    background: rgb(1, 1, 107);
    cursor: pointer;
}

.previous-college {
    margin-top: 15px;
}


.side-icons {
    font-size: 40px;
}

.fa-tools {
    font-size: 25px;
}

.fa-facebook {
    color:  #3C5A99;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-instagram {
    color: salmon;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-github {
    color: rgb(35, 40, 45);
}

.navbar {
    height: 80px;
    border: none;
    transition: green 1s ease 0s;
}

.jumbotron {
    background-color: white;
    color: rgb(51, 50, 50);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.self-image {
    margin-top: 10px;
    margin-left: 450px;
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 2px #337ab7;
}

.display-name {
    margin-left: 300px;
    text-align: left;
    font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 1550px) {
    .display-name {
        margin-left: 75px;
        text-align: left;
        font-family: 'Rubik', sans-serif;
    }
}

.title-name {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-left: 250px;
}
  
.navbar-brand {
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.navbar-right {
    text-transform: uppercase;
}

.navbar-nav {
    margin-right: 50px;
}

.row > .sidebar > .nav-sidebar > li > a:hover {
    background-color: transparent;
}

#objective:hover,
#about:hover, 
#contact:hover {
    color: orangered;
}

.navbar.solid {
    background-color: rgb(55, 150, 126);
    transition: background-color 1s ease 0s;
}

.navbar-default .navbar-nav > li > a {
    margin: 10px 5px 5px 5px;
}

.navbar-default .navbar-nav > li > a:visited {
    color: black;
    text-decoration: none;
}

.main-containers {
    width: 80%;
}

.background-color {
    background-color: whitesmoke;
}

.heading-style {
    border-radius: 25px;
    color: black;
    margin: 20px auto;
    background-color: whitesmoke;
}

footer {
    background-color: white;
    /*background: linear-gradient(45deg, rgb(254, 197, 134), #fff 33%, #fff 66%, rgb(254, 197, 134));*/
    border-top: 2px dashed orange;
}

.footer-copyright  {
    padding: 30px;
    text-align: center;
    color: black;
    font-size: 15px;
    margin-left: 425px;
    background-color: transparent;
}

.tools {
    text-align: center;
    font-size: 15px;
    font-family: 'indie flower', sans-serif;
    font-weight: bold;
    color: rgb(16, 26, 180);
    padding-bottom: 30px;
    background-color: transparent;
}

.tools-used {
    height: 30px;
    width: 30px;
}

.tools-used:hover {
    transform: scale(1.2);
}