@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');
@import url('https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Oswald|Raleway');
@import url('https://fonts.googleapis.com/css?family=Wendy+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

.keyword {
    font-size: 25px;
}

hr {
    height: 3px;
    border-radius: 45%;
    background-color: gray;
    width: 80%;
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #325C74;
}

.page-layout {
    max-width: 1300px;
    margin: 0 auto;
    background-color: whitesmoke;
}

.italic-font {
    font-size: 15px;
    font-style: italic;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline-block;
}

.margin-left {
    margin-left: 68px;
}

/* font awesome icons */

.fab {
    color: white;
    position: relative;
    top: 0;
    font-size: 30px;
}

.fab:hover {
    left: 10px;
}

.fa-facebook-f {
    padding: 5px 15px 5px 15px;
    background-color:  #3C5A99;
}

.fa-twitter {
    padding: 3px 7.5px 3px 7.5px;
    background-color: #1DA1F2;
}

.fa-instagram {
    padding: 5px 9.5px 5px 9.5px;
    background: linear-gradient(45deg, rgb(64,93,230), #833AB4 33%, #E1306C 66%, rgb(245,96,64));
}

.fa-linkedin-in {
    padding: 5px 9.5px 5px 9.5px;
    background-color: #0077B5;
}

.fa-github {
    padding: 5px 8px 5px 8px;
    background-color: rgb(35, 40, 45);
}

.fa-code, .fa-location-arrow, .fa-check {
    color: green;
    font-size: 20px;
    margin-right: 5px;
}

.background-color {
    background-color: whitesmoke;
}

.heading-style {
    border-radius: 25px;
    color: black;
    margin: 20px auto;
    background-color: whitesmoke;
}

.jumbotron {
    background-color: #325C74;
    color: white;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.display-name {
    margin-left: 300px;
    text-align: left;
    font-family: 'Wendy One', sans-serif;
}

@media screen and (max-width: 1550px) {
    .display-name {
        margin-left: 75px;
        text-align: left;
        font-family: 'Wendy One', sans-serif;
    }
}


.navbar {
    height: 80px;
    border: none;
}

nav > ul > li > a {
    color: black;
}

.navbar-brand {
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.navbar-right {
    text-transform: uppercase;
}

.navbar-nav {
    margin-right: 50px;
}

.row > .sidebar > .nav-sidebar > li > a:hover {
    background-color: transparent;
}

#objective:hover,
#about:hover, 
#contact:hover {
    color: #325C74;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    margin: 10px 5px 5px 5px;
}

.navbar-default .navbar-nav > li > a:visited {
    color: black;
    text-decoration: none;
}

.main-containers {
    width: 85%;
}

.side-style {
    background-color: transparent;
}

.left-side-bar {
    margin-top: 175px;
    position: fixed;
}

@media screen and (max-width: 1550px) {
    .left-side-bar {
        margin-top: 30px;
        position: fixed;
    }
}

.css-percent {
    width: 20%;
}

.padding-nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logoImage {
    margin-left: 50px;
    width: 45px;
    height: 45px;
}

.logoImage:hover {
    transform: scale(1.1);
}

.main-container-styling {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
}

.row > .sidebar > ul > li > a{
    padding: 0;
    margin: 0;
}

.last-goal {
    margin-bottom: 25px;
}

.objective-title {
    margin-left: 0;
    padding-left: 0;
    padding-top: 10px;
}

.skill-title {
    font-weight: bold;
}

.left-column {
    width: 50%;
    float: left;
}

.right-column {
    width: 50%;
    float: right;
}

.progress {
    width: 80%;
}

.java-progress {
    width: 60%;
    background-color: green;
}

.database-progress {
    width: 40%;
    background-color: orange;
}

.spring-progress {
    width: 40%;
    background-color: orange;
}

.test-driven-progress {
    width: 80%;
    background-color: green;
}

.python-progress {
    width: 60%;
    background-color: green;
}

.html-progress {
    width: 80%;
    background-color: green;
}

.git-progress {
    width: 60%;
    background-color: green;
}

.analysis-progress {
    width: 80%;
    background-color: green;
}

.package-management-progress {
    width: 60%;
    background-color: green;
}

.algorithm-progress {
    width: 60%;
    background-color: green;
}

.solving-progress {
    width: 75%;
    background-color: green;
}

.percentages {
    margin-left: 10px;
}

.location {
    margin-top: 8px;
}

.dates {
    margin-right: 125px;
    float: right;
    color: darkslategray;
}

.left-column {
    list-style: none;
}

.range-style {
    width: 25px;
    height: 25px;
    background: rgb(1, 1, 107);
    cursor: pointer;
}

.title-name {
    text-align: center;
    font-family: 'Wendy One', sans-serif;
    margin-left: 250px;
}

.job-description {
    width: 70%;
}

.positions {
    margin-top: 30px;
}

.company-name {
    font-size: 22px;
    font-weight: bold;
}

.education-title {
    font-size: 20px;
    font-weight: bold;
}

.previous-college {
    margin-top: 15px;
}

footer {
    background-color: #325C74;
}

.footer-copyright  {
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-left: 425px;
    background-color: transparent;
}

.tools {
    text-align: center;
    font-size: 15px;
    font-family: 'indie flower', sans-serif;
    font-weight: bold;
    color: white;
    padding-bottom: 30px;
    background-color: transparent;
}

.tools-used {
    height: 30px;
    width: 30px;
}

.tools-used:hover {
    transform: scale(1.2);
}