body {
    background-color: whitesmoke;
}

.fa-tools {
    font-size: 15px;
}

.sign-in {
    width: 350px;
    margin: 0px auto;
    margin-bottom: 15px;
    margin-top: 5%;
    font-size: 18px;
}

.developer-title {
    width: 300px;
    color: blue;
    margin: 0px auto;
    margin-bottom: 10px;
    font-size: 15px;
}

.form-style {
    width: 300px;
    margin: 0px auto;
}

.text {
    width: 300px;
    margin: 0px auto;
    margin-bottom: 3px;
}