@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.picture1 {
    background-image: url('img/homepage.jpg');
    min-height: 60%;
}

.picture2 {
    background-image: url('img/technology1.jpeg');
    min-height: 400px;
}

.picture3 {
    background-image: url('img/building.jpeg');
    min-height: 400px;
}

#main-objective {
    padding-bottom: 25px;
    color: black;
    text-transform: uppercase;
}

section {
    text-align: center;
    padding: 50px 80px;
}

#section-light {
    background-color: #f4f4f4;
    color: #666;
    font-family: Asap, sans-serif;
}

#section-dark, #section-dark2 {
    background-color: #303438;
    color: #666;
    font-family: Asap, sans-serif;
}

.about-me {
    padding-bottom: 25px;
    color: #f4f4f4;
    text-transform: uppercase;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 20px;
}

.border {
    font-family: indie flower, sans-serif;
}

.ptext .border.trans {
    background-color: transparent;
}

footer {
    position: center;
    top: 25%;
    padding: 50px;
    text-align: center;
    color: black;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#social-media {
    float: center;
    padding-top: 20px;
}

.social {
    height: 30px;
    width: 30px;
}
.social:hover {
    color: #ccc;
    transform: scale(1.2);
}

@media(max-width: 550px) {
    .picture1, .picture2, .picture3 {
        background-attachment: scroll;
    }
    .picture1 {
        min-height: 80%;
    }
    .border {
        font-size: 25px;
        letter-spacing: 6px;
    }
}






