.admin-signin {
    width: 30%;
}

.login-alert {
    text-align: center;
    margin-top: 50px;
}
  
.error-top, .loading-top {
    margin: 0px auto;
    width: 35%;
}

.button {
    border-radius: 9px;
    background-color: rgb(223, 146, 94);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.user-message {
    margin-top: 25px;
    font-size: 15px;
}

.fa-tools {
    color: rgb(223, 146, 94);
    font-size: 20px;
}

@media (max-width: 500px) {
    .admin-login {
        font-size: 18px;
        margin: 10px;
    }
    .admin-signin {
        border: solid #eee;
        width: 90%;
        padding:15px;
        margin-top: 50px;
    }
    .error-top, .loading-top {
        margin-top: 10px;
    }
}